.uwStatus {
  background-color: rgb(6, 198, 232);
    color: white;
    font-weight: bold;
}

.buttonApprove {
  background-color: rgba(13, 202, 13, 0.895);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}

.buttonApprove:hover {
  background-color: rgb(11, 140, 84);
}

.buttonReject {
  background-color: rgb(240, 6, 6);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2px;
  width: 80px;
}

.buttonReject:hover {
  background-color: rgb(221, 111, 111);
}

.divAction {
  display: flex;
  flex-direction: column;
  
}

.viewDataLink {
   color:rgb(3, 131, 210);
   font-weight: 600;
   text-decoration: none;
}

.viewDataLink:hover{
  text-decoration: underline;
}

.noData{
  margin-left: 20px;
  padding: 5px;
  color: rgb(219, 94, 5);
}

.divNoData{
  width: 100%;  
  padding: 0px;
  min-height: 25px; 

  background-color: rgb(203, 206, 206);
}
