.homeContainer {
  position: absolute;
  top:33%;
  left:33%;
  height: 150px;
  padding: 20px;
  border: 2px solid rgb(242, 127, 5);
  background-color: rgba(22, 23, 23, 0.244);
  border-radius: 10px;
}

.registerButton, .loginButton {
  background-color: rgb(242, 104, 5);
  color: white;
  border: none;
  padding: 5px 20px;
  max-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-right:10px ;
}

.registerButton:hover, .loginButton:hover {
  background-color: rgb(242, 127, 5);
}
