.content {
  display: flex;
 flex-direction: column;
  height: 80vh;
}

.inputField {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-height: 10px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.buttonRegister, .buttonLogin {
  background-color: rgb(242, 104, 5);
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  max-height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.buttonRegister:hover, .buttonLogin:hover {
  background-color: rgb(242, 127, 5);
}


